stellar/contract/target
stellar/contract/*/target
stellar/contract/*/test_snapshots
stellar/node_modules
node_modules
target
.env
.history
.DS_Store
#contracts
**/target/
**/neardev/
/node_modules/

yarn.lock
